.page {
  margin: 0;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #DCE2E8;
  padding-top: 48px;
  padding-left: 48px;
  width: 748px;
  padding-right: 48px;
  padding-bottom: 48px;
}


@media screen and (max-width: 768px) {
.page {
  width: 608px;
 }
}

@media screen and (max-width: 320px) {
.page {
  width: 288px;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 36px;
 }
}

