.task__text{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  /* or 165% */
  color: #333333;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media screen and (max-width: 768px) {
  .task__text{
  font-size: 15px;
  line-height: 24px;
}
}

