.task{
  margin-bottom: 48px;
}

@media screen and (min-width: 1280px) {
  .task:nth-child(3) {
    margin-top: 76px;
  }
}

@media screen and (max-width: 768px) {
  .task:nth-child(5) {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .task:nth-child(6) {
    display: none;
  }
}



@media screen and (max-width: 320px) {
.task{
  margin-bottom: 36px;
}

.task:nth-child(2) {
  margin-bottom: 12px;
  }

.task:nth-child(6) {
  margin-bottom: 28px;
}
}
