.about-content__span{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  color: #808C9E;
}

@media screen and (max-width: 768px) {
  .about-content__span{
    font-size: 15px;
    line-height: 24px;
 }
 }


@media screen and (max-width: 768px) {
 .about-content__span:last-child{
  display: none;
}
}

@media screen and (max-width: 320px) {
.about-content__span:last-child{
  display: list-item;
}
}

