@supports (font-feature-settings: 'liga' off){
  .task__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    /* identical to box height, or 114% */
    color: #333333;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
.task__title{
  font-size: 21px;
  line-height: 28px;
  margin-bottom: 12px;
}
}

@media screen and (max-width: 320px) {
.task__title{
  font-size: 21px;
  line-height: 28px;
  margin-bottom: 12px;
}
}



